@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
 
}

body{
  background-color: hsl(0, 0%, 8%);
  color: #FFF;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}
.overall-container{
  display: flex;
  height: 100%;
  width: 100%;
  /*background-color: hsl(0, 0%, 8%);*/
}

.main-container{
  background-color: hsl(0, 0%, 12%);
  margin: auto;
  min-width: 360px;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

img{
  border-radius: 50%;
  width: 100px;
}

#name{
  margin-top: 25px;
}

#location{
  color: hsl(75, 94%, 57%);
  margin: 10px;
  font-weight: 600;
}

.about{
  color: hsl(0, 0%, 70%);
  margin-top: 20px;
}

.links-container a{
  color: #FFF;
  text-decoration: none;
  transition: all 1s ease-in;
}

.links{
  background-color: hsl(0, 0%, 20%);
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px ;
  transition: all 1s ease-in;
}



.links:hover, .links a:hover{
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: #000;
}

